<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Activation</title>
</head>

<body>
    <p>Hello <%= user.name %>,</p>
    <p>Thank you for signing up for our Learning  platform!</p>
    <p>To activate your account, please click the following link:</p>
    <h1><%= activationCode %></h1>
    <p>If you didn't sign up for our service, you can ignore this email.</p>
    <p>Best regards,<br>Learning Management System Team</p>
</body>

</html>